a {
  text-decoration: none;
  color: #365899;
}
a:visited {
  color: #365899;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #365899;
}

body{
	margin:0px;
	padding:0px;
	height: 500px;
	width:1355px;
	background: linear-gradient(#f7f7f7, #d3d8e8);
}

#boîte_haute{
	height: 640;
	position: relative;
	display: block;
}

#entête{
	width: 100%;
	height: 80px;
	background: #3C5A99;
	box-shadow: 2px 2px 2px 2px;
	box-shadow: 0px 1px 8px 2px;
	position: relative;
}

#logo{
	font-size: 45px;
	color: white;
	font-family: arial;
	font-weight: bold;
	line-height: 15px;
	position:relative;
	left:200px;
	top: 40px;
}

#formulaire_login{
	float: right;
	color: white;
	position:relative;
	right:200px;
	top:-10px;
}


#boîte_milieu{
	float: left;
	font-size: 20px;
	font-family: tahoma; 
	font-style:bold;
	color: black;
	position: relative;
	top: 25px;
	left: 160px;
}

#droite{
	z-index: 7;
	float: right;
	position: relative;
	top: -300px;
	right:360px;
}

#formulaire_milieu input{
	border: 1px solid #BDC7D8;
	border border-radius: 5px;
	color: black;
	padding: 10px;
	position: relative;
	z-index: 6;

}


#formulaire_milieu select{
	display: inline;
	height: 30px;	
}

#formulaire_milieu {
	color:#1d2129;
	font-family: Helvetica; 
	font-size: 18px;
	line-height: 18px;
	font-family: Helvetica;
	border-spacing: 0px;
}

#pied_page{
	position: relative;
	font-size: 12px;
	font-family: helvetica;
	line-height: 16px;
	color: 	#365899;
	bottom: 180px;
	background: #FFFFFF ;
	width: 100%;
	height: 100;
	border-spacing: 3px;
	float:left;
	left: -150px;
	top:-300px;
}


#page{
background: #E9EBEE;
}

#entête2{
	width: 100%;
	height: 40px;
	background: #3C5A99;
	box-shadow: 1px 1px 1px 1px;
	box-shadow: 0px 1px 2px 1px;
	position: absolute;
	border-collapse: collapse;
}

#gauche{
	float:left;
	background-color: #EAEBEF;
}

#centre_haut{
	top:60px;
	left:270px;
	width: 520px;
	height: 160px;
	position:absolute;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #FFFEFF;
}

#centre_bas{
	top:173px;
	left:0px;
	width: 520px;
	height: 410px;
	position:absolute;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #FFFFFF;
}

#droitepub{
	top:0px;
	left:533px;
	width: 308px;
	height: 490px;
	position:absolute;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #FFFFFF;
}

#droitepubbas{
	top:500px;
	left:533px;
	width: 308px;
	height: 100px;
	position:absolute;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #FFFFFF;
}

#extreme_droite{
	top:-518px;
	left:349px;
	width: 200px;
	height: 200px;
	position:absolute;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	background-color: #E9EBEE;
}

#extreme_droite_bas{
	top:200px;
	left:0px;
	width: 207px;
	height: 400px;
	position:absolute;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
	background-color: #E9EBEE;
}

#encoreplusbas{
	top:310px;
	left:0px;
	width: 207px;
	height: 90px;
	position:absolute;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #FFFFFF;
}

#bim{
	top:370px;
	left:0px;
	width: 207px;
	height: 70px;
	position:absolute;
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	background-color: #FFFFFF;

}